<%= form_for [@album, @post] do |f| %>
  <div class="field">
    <%= f.label :text_content%>
    <%= f.text_field :text_content%>
  </div>
  <div class="field">
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.submit "submit" %>
  </div>
<%end%>