<!DOCTYPE html>
<html>
  <head>
    <title>Facebuk</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, {:style => "float:right", :method => :delete} %>
        <br/><br/><br/><br/>

        <div class="sidenav">
          <%= link_to "News Feed", root_path %>
          <%= link_to "Events", user_events_path(current_user.id) %>
          <%= link_to "Pages", root_path %>
          <%= link_to "Photos", user_albums_path(current_user.id) %>
        </div>
      <%end%>
      <div class="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
